<!-- 头部导航 -->
<include file="Public/head" /> 

<!--导航栏-->
<include file="Public/left" /> 
<style type="text/css">

	#warp{
		/*max-width: 970px;*/
		padding: 30px;
		margin: 0 auto;
	}
	.item{
	height: 40px;
	}
	.lableitem{
	display: block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	background-color: #3399CC;
	vertical-align: top;
	float: left;
	text-align: center;
	color: white;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	}
	.fromdata{
	max-width: 970px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}
	#select{
	display: block;
	float: left;
	height: 30px;
	width: 160px;
	text-align: center;
	text-indent: 1em;
	font-size: 16px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #3399CC;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;

	}
	option{
	display: block;
	height: 30px;
	line-height: 30px;
	}
	input{
	display: block;
	float: left;
	height: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #3399CC;
	text-indent: 1em;
	outline: none;
	width: 500px;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	}
	#save {
	position: absolute;
	top: 60px;
	right: 30px;

	/*margin-top: 120px;*/

	}
	.buttom {
	display: block;
	width: 160px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #3399CC;
	color: white;
	border-radius: 5px;
	margin: 0 auto;
	font-size: 16px;

	}
	.buttom:hover{
	background-color: #2c3e50;
	}

</style>
	<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/jquery.min.js"></script>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
       <h1 class="page-header">笔记添加</h1>
     <div id="warp">
    <div class="fromdata">
      <div class="item">
        <span class="lableitem" for="titlename">标题</span>
        <input id="titlename" name="titlename" placeholder="请输入标题">
      </div>
      <div class="item">
        <span class="lableitem" for="select">类型</span>
        <select id="select"  name="type">
          <option value="1">jvascript语法</option>
          <option value="2">html</option>
          <option value="3">css</option>
          <option value="4">构建工具</option>
          <option value="5">js插件</option>
          <option value="6">php相关</option>
        </select>
      </div>
      <div class="item" placeholder="请输入描述">
        <span class="lableitem" for="desbute">描述</span>
        <input id="desbute" name="desbute" placeholder="请输入描述">
      </div>
    </div>
     <script id="container" name="content" type="text/plain" style="margin: 0 auto;width: 100%"> </script>
    <div id="save">
      <a class="buttom" onclick="savefunc()">保存</a>
    </div>
</div>
</div>
</section>
<script type="text/javascript">
    var ue = UE.getEditor('container',{
      autoHeightEnabled: true,
      autoFloatEnabled: true,
      initialFrameHeight:483
    });
    var titlename = document.getElementById('titlename');
    var select = document.getElementById('select');
    var desbute = document.getElementById('desbute');

    function savefunc(){
      if (titlename.value == '') {
          	layer.msg('标题不能为空');
      }	else if(desbute.value == ''){
          	layer.msg('描述不能为空');
      }else if(ue.getContent() == ''){
          	layer.msg('内容不能为空');
      }else{
		sendsoure();
      }
    }

    function sendsoure(){
    	layer.load();
      	var url="__ROOT__/index.php/home/admin/savecontent";
      	var data = {
        	'titlename': titlename.value,
          	'type': select.value,
          	'desbute': desbute.value,
          	'content': ue.getContent()
      	}
      	$.ajax({
        	method: "POST",
        	url:url,
        	data:data,
        	dataType:"json"
      	}).done(function(ret){
      		layer.closeAll('loading');
          	if (parseInt(ret['code']) == 1) {
          		layer.msg('添加成功');
	          	setTimeout(function(){
					window.location.reload();
	         	 },1500);
          	}else{
          		layer.msg('怎么出错了');
          	}
        });
    }


</script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>  
</body>
</html>